<a href="https://colab.research.google.com/github/shravyashetty714/Python_training/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2.write a prgm to calculate the electricity bill of a customer based on the number of units consumed and the applicable charge per unit---
c_id=int(input("Enter Customer ID: "))
name=input("Enter Name: ")
unit_consumed=int(input("Units Consumed: "))

def more_than_300():
    if(amt>300):
        t_amt=amt+(amt/100)*15
        print("Total Amount: ",t_amt)
    elif(amt<=100):
        t_amt=100
        print("Total Amount: ",t_amt)
    else:
        print("Total Amount: ",amt)


if(unit_consumed < 200):
    amt=1.2*unit_consumed
    more_than_300()
elif(199 < unit_consumed < 400):
    amt=1.5*unit_consumed
    more_than_300()
elif(399 < unit_consumed < 600):
    amt=1.8*unit_consumed
    more_than_300()
elif(unit_consumed >= 600):
    amt=2*unit_consumed
    more_than_300()

Enter Customer ID: 2
Enter Name: shraya
Units Consumed: 350
Total Amount:  603.75

In [ ]:
#3.write the prgm to read the temperature in centigrade---
temp=int(input("Enter the temperature in centigrade: "))

if(temp<0):
    print("Freezing weather")
elif(0<=temp<10):
    print("Very cold weather")
elif(10<=temp<20):
    print("Cold weather")
elif(20<=temp<30):
    print("Normal")
elif(30<=temp<40):
    print("It's hot")

Enter the temperature in centigrade: 67

In [ ]:
#4.write a prgm to check if a triangle can be formed----
a=float(input("Enter the angle a: "))
b=float(input("Enter the angle b: "))
c=float(input("Enter the angle c: "))

sum=a+b+c

if(sum==180.00):
    print("The triangle can be formed")
else:
    print("The triangle cannot be formed")

Enter the angle a: 90
Enter the angle b: 45
Enter the angle c: 30
The triangle cannot be formed

In [ ]:
#5.prgm to find it is leap year or not--
year=int(input("Enter the year to check: "))
if((year%4==0 and year%100!=0)or(year%400==0)):
    print("Leap Year")
else:
    print("Not a Leap Year")

#loops 1. to print multiples of 2 until n numbers
n=int(input("Enter n value: "))
for i in range(0,n+1,2):
    print(i)

Enter the year to check: 2024
Leap Year
Enter n value: 4
0
2
4

In [ ]:
#loops 2. prgm to find factorial of a number
n = int (input ("Enter a number: "))
fact = 1
if n >= 1:
    for i in range (1, n+1):
        fact=fact *i
print("Factorial of the given number is: ", fact)

Enter a number: 5
Factorial of the given number is:  120

In [ ]:
#loops 3. python program to get the series 1,5,2,10,3,15
n=int(input("Enter n value: "))
for i in range(1,n+1):
    print(i,end=",")
    print(i*5,end=",")
print("...")

Enter n value: 5
1,5,2,10,3,15,4,20,5,25,...

In [ ]:
#loops 4. multiply with 4 to get the series
n=int(input("Enter n value: "))
for i in range(1,n+1):
    print(4**i,end=",")
print("...")

Enter n value: 5
4,16,64,256,1024,...

In [ ]:
#to get the series 13,7,39,21,117,63
s1 = 13
s2 = 7
n = 6

for _ in range(n):
    if _ % 2 == 0:
        print(s1, end=",")
        if _ < 4:
            s1 = s1 * 3
        else:
            s1 = s1 + 50
    else:
        print(s2, end=",")
        s2 = s2 + 14

print("...")

13,7,39,21,117,35,...

In [ ]:
#CLASS

In [ ]:
n = int(input())
s1 = 13
s2 = 7
c = True

while n > 0:
    n -= 1
    if c:
        print(s1, end=' ')
        s1 *= 3
        c = False
    else:
        print(s2, end=' ')
        s2 *= 3
        c = True

5
13 7 39 21 117

In [ ]:
def power(a,b):
  ans=1
  while(b>0):
    ans*=2;
    b-=1;
  return ans
print(power(2,10));

1024

In [ ]:
def power(a,b):
  ans=1
  while(b>0):
    ans*=5;
    b-=1;
  return ans
print(power(5,3));

125

In [ ]:
n=int(input("enter a number:"))
def pt(n):
  for i in range(1,11):
    print(n ,"*",i,"=",n*i)
pt(n)

enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
n=int(input("enter a number:"))
def pt(n):
  for i in range(1,11,2):
    print(n ,"*",i,"=",n*i)
pt(n)

enter a number:5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

In [ ]:
x=int(input("enter a number:"))
def func(x):
  return x%10
func(x)

enter a number:5

5

In [ ]:
x=int(input("enter a number:"))
def func(x):
  return x-((x//10)*10)
func(x)

enter a number:5

5

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
def count(b):
  c=0
  while b>0:
    c+=1
    b//=10
  return c
def func(a,b):
  c=count(b)
  return (a//10**c)*(10**c)+b
print(func(a,b))

enter a number:1234
enter a number:77
1277

In [ ]:
x=int(input("enter a number:"))

def count(x):
  c=0
  while x>0:
    c+=1
    x//=10
  return c
def fvr(x):
  c=count(x)
  return x//pow(10,c-1)
print(fvr(x))

enter a number:3456
3

In [ ]:
x=int(input("enter a number:"))

def count(x):
  c=0
  while x>0:
    c+=1
    x//=10
  return c

def fdrem(x):
  c=count(x)
  return x-(x//pow(10,c-1))*pow(10,c-1)
print(fdrem(x))

enter a number:51234
1234